.main__body{
    margin-top: -14px;
    background-color: #F0F2F5;
    height: 100%;
    width: 100%;

    .top__list> ul > li >img{
        height: 33px;
        width: 33px;
        border-radius: 50%;
        
    }
   
}