<div class="main__body">

    <div class="left__menu">
        <div class="top__list">
            <ul>
            <li> <img src="../../assets/profil 3.jpg" alt="">Karim Farhi </li>
            <li> <mat-icon>flag</mat-icon>Pages </li>
            <li> <mat-icon>favorite_border</mat-icon> Covid 19</li>
            <li> <mat-icon>group</mat-icon> Friends</li>
            <li> <mat-icon>groups</mat-icon>Groups </li>
            <li> <mat-icon>storefront</mat-icon>Shop </li>
            <li> <mat-icon>sports_esports</mat-icon> Games</li>
            <li> <mat-icon>domain</mat-icon> Sales groups</li>
            <li> <mat-icon>payments</mat-icon>Facebook Pay </li>
            <li> <mat-icon>work</mat-icon>Jobs </li>
            <li><mat-icon>arrow_drop_down</mat-icon></li>

            </ul>
        </div>
        <div class="bot__list">
            <h2>Your shortcuts</h2>
            <div class="bottom__cati">
                <span> <img src="../../assets/slot.png" alt=""> Slotemania</span>
                <span> <img src="../../assets/war.jpg" alt=""> War commander</span>
                <span> <img src="../../assets/hit.png" alt=""> Stack Hit 3D </span>
                <span> <img src="../../assets/js.png" alt=""> Learn JavaScripte & HTML & CSS </span>
            </div>

        </div>
    </div>

    <div class="thebody">
        <div class="story">

        </div>

    </div>

    <div class="right__menu"></div>
</div>