<div class="main__body">

    <div class="left__menu">
        <div class="top__list">
            <ul>
            <li> <img src="../../assets/profil 3.jpg" alt="">karim farhi </li>
            <li> <mat-icon>flag</mat-icon>pages </li>
            <li> <mat-icon>favorite_border</mat-icon> covid 19</li>
            <li> <mat-icon>supervisor_account</mat-icon> </li>
            <li> <mat-icon>group</mat-icon> </li>
            <li> <mat-icon>groups</mat-icon> </li>
            <li> <mat-icon>storefront</mat-icon> </li>
            <li> <mat-icon>sports_esports</mat-icon> </li>
            <li> <mat-icon>domain</mat-icon> </li>
            <li> <mat-icon>payments</mat-icon> </li>
            <li> <mat-icon>work</mat-icon> </li>

            </ul>
        </div>
        <div class="bot__list">
            <h2>Your shortcuts</h2>
            <ul>
                <li> <mat-icon></mat-icon> </li>
                <li> <mat-icon></mat-icon> </li>
                <li> <mat-icon></mat-icon> </li>
                <li> <mat-icon></mat-icon> </li>
            </ul>

        </div>
    </div>

    <div class="thebody"></div>

    <div class="right__menu"></div>
</div>