<div class="main__body">
    <!--start left body = left menu-->
    <div class="left__menu">
        <!--top list -->
        <div class="top__list">
            
            <span> <img src="../../assets/profil 1.jpg" alt=""><h3>Karim Farhi</h3> </span>
            <span> <mat-icon>flag</mat-icon><h4>Pages</h4> </span>
            <span> <mat-icon>favorite_border</mat-icon> <h4>Covid 19</h4></span>
            <span> <mat-icon>group</mat-icon> <h4>Friends</h4></span>
            <span> <mat-icon>groups</mat-icon><h4>Groups </h4></span>
            <span> <mat-icon>storefront</mat-icon><h4>Shop </h4></span>
            <span> <mat-icon>sports_esports</mat-icon> <h4>Games</h4></span>
            <span> <mat-icon>domain</mat-icon> <h4>Sales groups</h4></span>
            <span> <mat-icon>payments</mat-icon><h4>Facebook Pay </h4></span>
            <span> <mat-icon>work</mat-icon><h4>Jobs</h4> </span>
            <span><mat-icon>arrow_drop_down</mat-icon></span>

            
        </div>
        <!--start bot list-->
        <div class="bot__list">
            <h3>Your shortcuts</h3>
            <div class="bottom__cati">
                <span> <img src="../../assets/slot.png" alt=""> <h4>Slotemania</h4></span>
                <span> <img src="../../assets/war.jpg" alt=""> <h4>War commander</h4></span>
                <span> <img src="../../assets/hit.png" alt=""> <h4>Stack Hit 3D</h4> </span>
                <span> <img src="../../assets/js.png" alt=""> <h4> Learn HTML & CSS  </h4></span>
            </div>

        </div>
    </div>
    <!--end the left body-->
    <!--start mid body= carts and story-->

    <div class="thebody">
        <div class="story">
            <!--start story-->
            <div class="creat__story">
                <div class="create__icon">
                    <button>
                        <mat-icon>add</mat-icon >
                    </button><br>
                    <h2>Create a Story</h2>
                </div>
            </div>
            <span class="story__prof" id="prof__1">
                <img src="../../assets/profil 1.jpg" alt="">
                <h2>Agone Lamin</h2>
            </span>
            <span class="story__prof"id="prof__2">
                <img src="../../assets/profil 2.jpg" alt="">
                <h2>Alonzo Martin</h2>
            </span>
            <span class="story__prof"id="prof__3">
                <img src="../../assets/profil 3.jpg" alt="">
                <h2>Harvy Specter</h2>
            </span>
            <span class="story__prof"id="prof__4">
                <img src="../../assets/profil 4.jpg" alt="">
                <h2>Mickel Jonson</h2>
            </span>
            <span class="story__prof"id="prof__5">
                <img src="../../assets/profil 5.jpg" alt="">
                <h2>Leonel Pickou</h2>
            </span>
            
            
         </div>
         
            <button class="to__slid">
              
              <mat-icon class="arrow__slid">arrow_forward</mat-icon>
            
            </button>
          
         <!--end of story -->
         <div class="what__new">
             <span>
                 <img src="../../assets/profil 1.jpg" alt="">
                 <button>What's on your mind, Karim?</button>
                                  </span>
             <div class="boton">
             <a href="#" role="button"> <mat-icon id="videocam">videocam</mat-icon> <h3>Live video</h3></a>
             <a href="#" role="button"> <mat-icon id="photo">add_photo_alternate</mat-icon> <h3>Photo/Video</h3></a>
             <a href="#" role="button"> <mat-icon id="emoji">emoji_emotions</mat-icon><h3>Feeling/Activity</h3></a>
             
            </div>
             
             
         </div>
         <div class="creat__rome">
            <button> <mat-icon>video_call</mat-icon><h3> Creat Rome</h3></button>
            <img src="../../assets/profil 1.jpg" alt="">
            <img src="../../assets/profil 2.jpg" alt="">
            <img src="../../assets/profil 3.jpg" alt="">
            <img src="../../assets/profil 4.jpg" alt="">
            <img src="../../assets/profil 5.jpg" alt="">
            <img src="../../assets/profil 6.jpg" alt="">
            <img src="../../assets/profil 11.jpg" alt="">
            <img src="../../assets/profil 22.jpg" alt="">
            <img src="../../assets/profil 33.jpg" alt="">
         </div>
         <!--carts-->
         <div class="card">
            <mat-card class="pub-card">
                <mat-card-header>
                  <img mat-card-avatar src="../../assets/profil 66.jpg" class="example-header-image">
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  
                </mat-card-header>
                <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                
                <mat-card-actions class="action">
                    <div class="likes_comments">
                        <div class="icones">
                            <mat-icon id="mood">mood</mat-icon>
                            <mat-icon id="thumb">thumb_up_alt</mat-icon>
                            <p>89</p>

                        </div>
                        <div class="com__share">
                            <p>75 comment 146 share</p>
                        </div>
                    </div>
                    <div class="the_botons">
                        <a href="#" role="button"> <mat-icon id="videocam">thumb_up_alt</mat-icon> <h3>Like</h3></a>
                        <a href="#" role="button"> <mat-icon id="videocam">comment</mat-icon> <h3>Comment</h3></a>
                        <a href="#" role="button"> <mat-icon id="videocam">share</mat-icon> <h3>Share</h3></a>
                    </div>
                </mat-card-actions>
              </mat-card>
              <div class="my__card">
                  <div class="avatar">
                      <div class="avat">
                            <img src="../../assets/profil 55.jpg" alt="">
                            <div class="user__name">
                                <h2>Dispéra Sam</h2>
                             <p>Hunting at 16:46</p>
                            </div>
                        </div>
                        <a href="#" role="button"> <mat-icon id="more_horiz">more_horiz</mat-icon></a>
                    </div>
                    <div class="photo">
                        <img src="../../assets/profil 44.jpg" alt="">
                    </div>
                    <div class="likes_comments">
                        <div class="icones">
                            <mat-icon id="mood">mood</mat-icon>
                            <mat-icon id="thumb">thumb_up_alt</mat-icon>
                            <p>852</p>

                        </div>
                        <div class="com__share">
                            <p>475 comment 212 share</p>
                        </div>
                    </div>
                    <div class="the_botons">
                        <a href="#" role="button"> <mat-icon id="videocam">thumb_up_alt</mat-icon> <h3>Like</h3></a>
                        <a href="#" role="button"> <mat-icon id="videocam">comment</mat-icon> <h3>Comment</h3></a>
                        <a href="#" role="button"> <mat-icon id="videocam">share</mat-icon> <h3>Share</h3></a>
                    </div>
              </div>
              
         </div>
         <!--end of cart's menu-->
         

    </div>
    <!--end of story and carts -->
    <!--start right menu= list of contact-->

    <div class="right__menu">
        <div class="topbar">
            <h2>Birthdays</h2>
            <span> <mat-icon>redeem</mat-icon> <h2>Leonel Pickou</h2>'s birthdaay is today.</span>
        </div>
        <div class="list__contact">
            <div class="search">
                <h2>Contacts</h2>
                <div class="icon__search">
                    <mat-icon>search</mat-icon>
                    <mat-icon >more_horiz</mat-icon>
                </div>
                
            </div>
            <div class="conta">
                <div class="profil__conta">
                    <img src="../../assets/1 (1).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (1).png" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (10).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (11).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (6).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (12).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (13).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (14).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (15).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (16).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (2).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (3).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (4).jpg" alt="">
                    <h3>name of user</h3>
                </div>
                <div class="profil__conta">
                    <img src="../../assets/1 (5).jpg" alt="">
                    <h3>name of user</h3>
                </div>

            </div>
            <div class="creat__group">
                <h2>Group conversations</h2>
                <div class="group">
                    <mat-icon>add</mat-icon>
                    <h3>Create New Group</h3>
                </div>
            </div>
            
        </div>
    </div>
    <!--end of right menu list of contact-->
</div>
