.main__body{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #F0F2F5;
    
    
    
    
    mat-icon{
        font-size: xx-large;
        color: #1877F2;
        margin-left: 10px;
        margin-bottom: 10px;

    }
    .left__menu{
        width: 300px;
        position: fixed;
        

        .top__list{ 
            
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: solid 1px #CED0D4;
            padding:0 10px;
            
            
            .list__primar{
                
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items: center;
            
            li{ 
                position: relative;
                display: flex;
                align-items: start;
                height: 50px;
                width: 300px; 
                border-radius: 5px;
                margin-left: 15px;
                float: right;
                a{
                    display: flex;
                    text-decoration: none;
                    font-size: small;
                    margin-left: 20px;
                    margin-bottom: 0;
                    mat-icon{
                        margin-right: 25px;
                        margin-left: -10px;
                        margin-top: 10px;
                    }
                    h4{
                        margin-top: 15px;
                        margin-left: -4px;

                    }
                    
                }
                img{
                    height: 33px;
                    width: 33px;
                    border-radius: 50%;
                    margin-left: -8px;
                    margin-top: 8px;
                }
                h3{
                    margin-top: 10px;
                    margin-left: 10px;
                }
                
            }
            .list__menu{
                
                
                
                &::onclck{
                    
                    .list__menu{
                        display: none;
                    }
                    .list__secon{
                        display: block;
                    }
                }
                .list__secon{
                    position: absolute;
                    top: 0;
                    left: -55px;
                    
                    
                }
            }
            li:hover {
                background-color: #e4e3e3;
                
            }
        }
            
        }
        .bot__list{

            h3{
                margin-left: 20px;
            }
            .bottom__cati{
                position: fixed;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
           
                li {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    width: 300px;
                    
                    border-radius: 5px;
                    margin-top: 10px;
                    margin-left: 15px;
                
        
                }
                li:hover {
                    background-color: #e4e3e3;
                
                }
                h4{
                    font-size: small;
                    margin-top: 15px;
                    margin-left: 20px;
                 }
                img{
                height: 33px;
                width: 33px;
                border-radius: 2px;
                margin-left: 8px;
                }
            }
        }
    }
    //**********end the left__menu***************//
    
    //**********start thebody story *************//

    .thebody{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        position: relative;
        left: 30%;
        
        
        .story{
            display: flex;
            width: 630px;
            height: 170px;
            margin-top: 22px;
            margin-left: 24px;
            .creat__story{
                background-image: url("../../assets/1\ \(6\).jpg");
                background-size:  cover;
                
                background-repeat: no-repeat;
                width: 100px;
                height: 180px;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 5px 17px -7px;
                margin-right: 10px;
                transition: transform 100ms ease-in;
                cursor: pointer;
                .create__icon{
                    position: relative;
                    top: 115px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start ;
                    align-items: center;
                    background-color: white;
                    height: 65px;
                    &:hover{
                        background-color: #e0e0e0;
                    }
                    
                    
                    button{
                        border: solid 4px white;
                        border-radius: 50%;
                        height: 35px;
                        width: 35px;
                        background-color: #1877F2;
                        margin-top: -15px;
                        
                        mat-icon{
                            color:white;
                            margin-top: 2px;
                            margin-left: -6px;
                            font-size: x-large;
                        }
                    }    
                    h2{
                        font-size: smaller;
                    }
                }

            }
            
            .story__prof{
                
                width: 100px;
                height: 180px;
                border-radius: 10px;
                box-shadow: 0px 5px 17px -7px;
                margin-right: 10px;
                transition: transform 100ms ease-in;
                cursor: pointer;
                img{
                    width: 35px;
                    height: 35px;
                    margin: 10px;
                    border: 4px solid #1876F2;
                    border-radius: 50%;
                }
                h2{
                    height: 40px;
                    width: 100%;
                    text-align: start;
                    font-size: small;
                    color: white;
                    margin-top: 70px;
                    margin-left: 4px;
                    &:hover{
                        color: #dadada;
                    }
                }

            }
            .story__prof:hover {
                transform: scale(1.07);
            }
            #prof__1{
                background-image: url("../../assets/profil\ 11.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
            #prof__2{
                background-image: url("../../assets/profil\ 22.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
            #prof__3{
                background-image: url("../../assets/profil\ 33.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
            #prof__4{
                background-image: url("../../assets/profil\ 44.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
            #prof__5{
                background-image: url("../../assets/profil\ 55.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
            #prof__6{
                background-image: url("../../assets/profil\ 66.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
            
        }
        .to__slid{
            position: absolute;
            top: 90px;
            right: -15px;
            border: solid  1px rgb(202, 202, 202) ;
            
            border-radius: 50%;
            background-color: white;
            height: 50px;
            width: 50px;
            &:hover{
                background-color: #ececec;
            }
                mat-icon{
                    color: #797D86;
                    position: relative;
                    top: 4px;
                    left: -5px;
                    font-size: x-large;
                    
                }
            }
            
        
        
        //*********end story********//
        //**********start what__new ****//
        .what__new{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            margin-top: 45px;
            margin-left: 20px;
            height: 115px;
            width: 630px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 5px 17px -7px;
            transition: transform 100ms ease-in;
            span{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: solid 1px #e0e0e0;
                padding-bottom: 10px;
                
                img{
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }
                button{
                    height: 35px;
                    width: 550px;
                    margin-left: 10px;
                    background-color: #F0F2F5;
                    border-radius: 20px;
                    border: none;
                    color: #65676B;
                 }
                 button:hover{
                     background-color: #e6e6e6;
                 }
            }
            .boton{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 623px;
                a{
                    display: flex;
                    height: 40px;
                    width: 180px;
                    
                    border-radius: 4px;
                    text-decoration: none;
                    #videocam{color: #F02849;} 
                    #photo{color: #45BD62;}   
                    #emoji{color:#F7B928}                
                }
                a:hover{
                    background-color: #eeeeee;
                }
                h3{
                    margin-top: 5px;
                    margin-left: 15px;
                    font-size: medium;
                }
                mat-icon{
                    margin-top: 5px;
                    margin-left: 20px;
                }
            }
        }//*********end what__new********//
        //**********start  creat__rome****//
        .creat__rome{
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 60px;
            width: 630px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 5px 17px -7px;
            transition: transform 100ms ease-in;
            margin-top: 15px;
            margin-left: 20px;
            button{
                display: flex;
                justify-content: space-evenly;
                height: 40px;
                width: 140px;
                border: solid 2px #E7F3FF;
                background-color: transparent;
                border-radius: 20px;
                font-size: small;
                font-weight: bold;
                
            }
            button:hover{
                background-color: #eeeeee;
            }
            h3{
                margin-top: 4px;
                margin-left: 8px;
                color: #1876F2;
                font-size: small;
            }
            img{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                transition: transform 100ms ease-in;
                cursor: pointer;
            }
            img:hover{
                transform: scale(1.07);
            }
        }
        .card{
            width: 630px;
            margin-top: 15px;
            margin-left: 20px;
            .pub-card{
                mat-card-header{
                    mat-card-avatar{
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        }
                        .action{
                        display: flex;
                        align-content: center;
                        justify-content: space-between;
                     }
                }
                .action{
                .likes_comments{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 4px;
                    margin-left: 15px;
                    border-bottom: solid 1px #e0e0e0;
                    padding-bottom: 5px;
                    width: 600px;
                    .icones{
                        display: flex;
                        p{
                            margin-left: 10px;
                            margin-top: 8px;
                            color: #65676B;
                        }
                    }
                    .com__share{
                        margin-top: 5px;
                        margin-right: 10px;
                        color: #65676B;
    
                    }
                }
                .the_botons{
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                    margin-top: 12px;
                    a{
                        display: flex;
                        text-decoration: none;
                        h3{
                            color: #65676B;
                            margin-left: 15px;
                        }
                    }
                }
            }
            }
            
            .my__card{
                margin-top: 15px;
                border-radius: 5px;
                width: 630px;
                height: 700px;
                background-color: white;
                border-radius: 8px;
                box-shadow: 0px 5px 17px -7px;
                transition: transform 100ms ease-in;
                .avatar{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .avat{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 15px;
                        
                       
                        margin-left: 15px;
                            img{
                                height: 40px;
                                width: 40px;
                                border-radius: 50%;
                            }
                            .user__name{
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                line-height: 0;
                                
                                p{
                                   color: #757575;
                                }

                            }
                            
                        }
                        a{
                            height: 37px;
                            width: 37px;
                            margin-right: 16px;
                            border-radius: 50%;
                            background-color: #dfdfdf;
                            #more_horiz{
                                margin-top: 6px;
                                margin-left: 7px;
                                font-size: x-large;
                                color: #65676B;
                            }
                        }
                }
                .photo{
                    border-bottom: solid 1px #d4d4d4;
                    padding-bottom: 10px;
                    img{
                    height: 500px;
                    width: 100%;
                }
                }
                .likes_comments{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 4px;
                    margin-left: 15px;
                    border-bottom: solid 1px #e0e0e0;
                    padding-bottom: 5px;
                    width: 600px;
                    .icones{
                        display: flex;
                        p{
                            margin-left: 10px;
                            margin-top: 8px;
                            color: #65676B;
                        }
                    }
                    .com__share{
                        margin-top: 5px;
                        margin-right: 10px;
                        color: #65676B;

                    }
                }
                .the_botons{
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                    margin-top: 12px;
                    a{
                        display: flex;
                        text-decoration: none;
                        h3{
                            color: #65676B;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
            
        

    }
     
    //**********end thebody story***************//
    
    //**********start right__menu *************//
   .right__menu{
       width: 330px;
       position: fixed;
       right: 10px;
       
   }

   .right__menu{
       .topbar{
           border-bottom: solid 1px #d4d4d4;
           padding-bottom: 10px;
           h2{
               color: #65676B;
               font-size: medium;
               margin-top: 20px;
               
           }
           span{
               display: flex;
               align-items: center;
               justify-content: flex-start;
               height: 50px;
               border-radius: 5px;

               mat-icon{
                   color: #1877F2;
               }
               h2{
                   margin-left: 15px;
                   margin-top: 15px;
                   font-size: medium;
                   color: black;
               }
           }
           span:hover{
               background-color: #e4e4e4;
           }
       }
       .list__contact{
           .search{
               display: flex;
               align-items: center;
               justify-content: space-between;
               h2{
                   font-size: large;
                   color:#757575 ;
               }
               .icon__search{
                mat-icon{
                    font-size: 25px;
                    color: #757575;
                    margin-right: 10px;
                }
               }
               
           }
           .conta{
               border-bottom: solid 1px #c2c2c2;
               padding-bottom: 8px;
               .profil__conta{
                   display: flex;
                   align-content: flex-start;
                   justify-content: first baseline;
                   height: 50px;
                   border-radius: 5px;
                   
                   img{
                       height: 35px;
                       width: 35px;
                       border-radius: 50%;
                       margin-top: 8px;
                       margin-left: 5px;
                       
                   }
                   h3{
                       margin-top: 10px;
                       margin-left: 20px;
                       
                   }
               }
               .profil__conta:hover{
                   background-color:#e4e4e4 ;
               }
           }
       }
   }
}