<div class="navmain">
    <div class="nav__input">
        <img class="fb__icon" src="../../assets/iconfinder_1_Facebook_colored_svg_copy_5296499.webp">
        <div class="search__input">
            <mat-icon>search</mat-icon>
            <input placeholder="Search Facebook " type="text" >
            
        </div>
    </div>

    <div class="nab__icons">

        <div class="icnos"><mat-icon > home </mat-icon></div>
        <div class="icnos"><mat-icon>ondemand_video</mat-icon></div>
        <div class="icnos"><mat-icon>storefront</mat-icon></div>
        <div class="icnos"><mat-icon>groups</mat-icon></div>
        <div class="icnos"><mat-icon>dashboard</mat-icon></div>

    </div>

    <div class="nav__right">
        <div class="prof">
            <img src="../../assets/profil 3.jpg" alt="">
            <h4>karim</h4>
        </div>
        <div class="icon__sting">
            <div class="sting"><mat-icon>add</mat-icon></div>
            <div class="sting"><mat-icon>sms</mat-icon></div>
            <div class="sting"><mat-icon>notifications</mat-icon></div>
            <div class="sting"><mat-icon>arrow_drop_down</mat-icon></div>
        </div>
    </div>
</div>