.navmain{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid .3px #D9DBDE;
}

.nav__input { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    button{
        height: 37px;
        width: 37px;
        border: none;
        border-radius: 50%;
    .btn__icon{
        margin-left: -8px;
        height: 37px;
        width: 37px;
    }
}
}
.nab__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}
.nav__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 285px;
    
    .prof {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            height: 25px;
            width: 25px;
            border-radius: 50%;
        }
    } 
    .icon__sting{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;

    }
}
.mat-icon{
    color: #65676B;
}